@model AutoInspectors.Models.Vehicle
@{
}

@Html.Partial("_SmallLogo")

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<ul class="aboutUs">
    <li>
        <h3>George Gaylor</h3>
        <img src="~/images/George.jpg" />
        <p>
            George is a developer with a Computer Information Systems Degree and experience in Testing and Support.  He is better with compiled languages like Java or C#, but is currently working to improve with front end technologies as well.  He has worked on building a few projects in C# using Mono on Linux as well as the more traditional route using Visual Studio on Windows.  His interests and hobbies include open source, back end development, databases, devops, Linux and gaming, as well as also enjoying spending time with his family, including his big, orange cat Carrot.
        </p>
    </li>

    <li>
        <h3>Cameron Pam</h3>
        <img src="~/images/Cam.jpg" />
        <p>
           Cameron is a software developer with a passion for UX design. Cameron also has a background in Architecture, entrepreneurship and graphic design. He attends Code Fellows with the intention to add software development to his skillset.
        </p>
    </li>

    <li>
        <h3>Erik Plyushko</h3>
        <img src="~/images/Erik.jpg" />
        <p>
            Was born in Estonia but has lived in Washington most of his life. Erik is a Army veteran, likes to play tournament paint-ball  and is a PC enthusiast. His life goal is to become a full-stack developer, buy a home, travel, keep up with tech and never stop learning. 
        </p>
    </li>

    <li>
        <h3>Thomas Reyes</h3>
        <img src="~/images/Tom.jpg" />
        <p>
            Thomas is a Navy vet hailing from Las Vegas, NV. His hobbies include watching and reviewing movies, being a filthy console gamer, photography, and hiking. He is excited to continue learning C# and intends to be a full-stack developer.
        </p>
    </li>
</ul>
